.card {
    margin: 0 auto;
    padding: 30px;
    width: 75%;
  
    background-color: rgb(178, 178, 178); 
    border-radius: 40px;
}
  
body{
    width: 100%;
    height: 100vh;
    background-size: cover;
} 

.inputText {
    background-color: rgb(255, 255, 255);
    border: none;
  
}
  
.submit {
    width: 55%;
}
  
.error {
    position: relative;
    left: 435px;
    bottom: 30px
}
  
.myError {
    font-size: 70%;
    margin-left: 10px;
    font-weight: bold;
 }